body {
  font-family: sans-serif;
}

nav {
   outline: 1px solid yellow ;
}

ul {

  /* outline: 1px solid blue;*/
   list-style: none;
   padding: 0;
   margin: 0;
   background: #2e2e2a;
   line-height: 40px;

   /* le devuelve el contexto de bloque al contenedor ul, ya que con
   float en li , se pierde */

   overflow: auto;

}

li {
   /*outline:  1px solid  red;*/
   width : 100px;
   /*display: inline-block;*/

   text-align: center;
   /*ya no se ve la etiqueta contenedora*/
   float:left;
}

a {
  /*outline: 1px solid green;*/
  text-decoration: none;
  display: block;
  color: #fff;
}

a:hover {
  background: #f9a91a;
  color: #000;
}
